body{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.container{
    width:80%;
    margin:0 auto;
}

h2{
    font-size:30px;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    line-height:100px;
}
.logo,.nav-item,.about,.one,.two,.footer, .box1, .box2,.box3{
    background-color:#bebebe;
    margin: 15px 0;
}
.navigation{
    display:flex;
justify-content: space-between;
margin:15px 0;
overflow: hidden;

}
.nav-item{
    width:300px;
    height:100px;
    width:24%;
    display:flex;
    justify-content: center;
}
.nav-item{
    width:300px;
    height:100px;
    width:24%;
    display:flex;
    justify-content: center;
}
.nav-item{
    width:300px;
    height:100px;
    width:24%;
    display:flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content:space-between;
    margin:15px 0;
}

.box1{
    width:32%;
    height:200px;
    display:flex;
    justify-content: center;
    text-align:center;
    margin:15px 0;
}
.box2{
    width:32%;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:15px 0;
}
.box3{
    width:32%;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:15px 0;
}
.footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px 0;
}